
.hidden {
  display: none;
}

.col-1-2 {
	width: 49%; 
	display: inline-block;
	float: left;
}

#drag-and-drop-demo {
  width: 100%;
  overflow: auto;
}

.draggable.items,
.droppable {
  border: 4px #222 solid;
 
  min-height: 200px;

}

.draggable.items {
  border-color: #fff;
}

.droppable {

  padding: 5px;
}

.droppable.active {
  border: 4px green dashed;
  background-color: #D0FCC5;
}

.draggable.item {
  border: 4px #999 solid;
  margin: 10px auto;
  padding: 10px;
}

.draggable.item.move:hover {
  cursor: move;
}

.draggable.item.copy:hover {
  cursor: copy;
}

.draggable.item.active {
  border: 4px #ccc dashed;
}
