
.hidden {
  display: none;
}

.col-1-2 {
	width: 49%;
	display: inline-block;
	float: left;
}

#drag-and-drop-demo {
  width: 100%;
  overflow: auto;
}

#dropzone {
  min-height: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item {
	border: 1px solid #dedede;
	display: block;
	margin-bottom: 10px; 
}

#dropzone .item:hover {

}

#dropzone .item-header {
  background: #D2E0EB;
  overflow: auto;
  padding: 5px 10px;
}

#dropzone .pull-left {  display: inline-block;  }
#dropzone .pull-right {  display: inline-block; }

#dropzone .inner-content {
	padding: 10px;
}